/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #2d8287 url('imgns/hero-scene-layer-1.png') center/cover fixed;
    color: white;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos al centro */
    margin-top: 20px;
}

label {
    margin-bottom: 5px;
}

select {
    width: 150px;
}

footer {
    background: #001f3f;
    padding: 20px;
    text-align: center;
    transition: background-color 0.5s ease;
}

footer .botones2 {
    display: flex;
    justify-content: center;
}

footer button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px;
}

/* Estilos para la sección de imágenes en el encabezado */
#imagenes_inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten a la fila siguiente si no hay suficiente espacio */
}

#imagenes_inicio div {
    text-align: center;
    margin: 10px;
    flex: 1; /* Hace que cada div ocupe el mismo espacio en la fila */
}

#imagenes_inicio img {
    max-width: 100%;
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    border: 3px solid #bababa;
    background-color: white;
    border-radius: 8px;
}

#imagenes_inicio h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

#seleccion {
    border: none;
    background-color: #fe5873;
    color: white;
    padding: 10px;
    padding-left: 7px;
    border-radius: 15px;
    margin-left: 10px;
    text-align: center;
}

#seleccion option {
    padding: 10px;
}

#seleccion option[value="slime"] { background-color: #f499e2; }
#seleccion option[value="recursos"] { background-color: #adf4c6; }
#seleccion option[value="npc"] { background-color: #d8f080; }

/* Añade estas reglas al archivo paginaseg.css o en la etiqueta <style> dentro del head */
#slime {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos al centro */
}

#slime > div {
    display: flex;
    flex-direction: column; /* Cambiado a columna para alinear verticalmente */
    align-items: center; /* Alinea los elementos al centro */
    margin-bottom: 20px;
}

#slime img {
    padding-top: 15px;
    max-width: 100px;
    margin-right: 20px;
}

#slime h3 {
    margin: 15px 0;
    font-size: 1.5em; /* Tamaño mediano */
}

#slime p {
    margin: 15px 0;
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
    text-align: center; /* Centra el texto */
}

#fila2 img {
    margin-top: 10px;
}

#fila3 {
    max-width: 800px;
    margin: 0 auto;
}

.glide-container {
    width: 30%;
}
