body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('imgns/imginicio.jpg') center/cover fixed; 
    height: 100vh; 
    overflow-y: auto; 
}

.imagen, .texto, .texto2 {
    border: 2px solid #080808;
    border-radius: 2%;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.imagen img, .configuracion select, .configuracion img {
    border-radius: 2%;
    max-width: 100%;
    height: auto;
}

.texto, .texto2 {
    width: 60%;
}

.configuracion {
    display: flex;
    align-items: center;
    margin-left: 20px; 
    top: 60px; /* Mueve hacia abajo */
    left: 30px; /* Mueve hacia la derecha */
}

.configuracion select {
    border-radius: 15px; 
    padding: 18px; 

}

.imagenes-top {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.letras{
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    color: #772c52; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #e67761; /* Fondo de color (puedes ajustar el color según tus preferencias) */
    padding: 10px; 
    border-radius: 20px;
}

h2 {
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ff80b3;  
}

/*___toy loco provando esto jajaja___*/
.galeria {
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.contenedor-imagenes {
    display: flex;
    transition: transform 0.5s ease; /* Transición para el desplazamiento suave */
}

.contenedor-imagenes img {
    width: 100%;
    height: auto;
}

.anterior, .siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff80b3;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.anterior {
    left: 10px;
}

.siguiente {
    right: 10px;
}