body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background: #39a97e url('imgns/hero-scene-layer-1.png') center/cover fixed;
    color: rgb(255, 255, 255);
    padding: 230px;
    /* position: relative; */
    top: -50px;
    z-index: 1;
    opacity: 0;
    animation: slideDown 1s ease-out forwards;

}
.opciones1 {
    /* margin-top: 460px; */
    margin-left: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border: 2px solid #fff;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
}

.opciones1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-align: right;

}

.opciones1 li {
    margin-bottom: 10px;
    text-decoration: none;
}

.opciones1 a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: color 0.3s ease;
    border: 2px solid white;
}

.opciones1 a:hover {
    color: #ff80b3;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2d8287 url('imgns/hero-scene-layer-1.png') center/cover fixed;
    z-index: -1;
}

main {
    background-image: url('imgns/fondosegundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -590px;
    padding-top: 300px;
    height: 1710px;
    z-index: 2;
}

#opciones {
    display: flex;
    padding-top: 250px;
    margin-left: 10px;
}

#seleccion {
    border: none;
    background-color: #3e446c;
    color: rgb(243, 243, 243);
    padding: 15px;
    padding-left: 7px;
    border-radius: 15px;
    text-align: center;
    width: 150px;
    margin-right: 10px;
}

#seleccion option {
    padding: 10px;
}

#seleccion option[value="slime"] { background-color: #f499e2; }
#seleccion option[value="recursos"] { background-color: #adf4c6; }
#seleccion option[value="npc"] { background-color: #d8f080; }

#imagenes_inicio {
    margin-top: -100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#imagenes_inicio div {
    text-align: center;
    margin: 10px;
    flex: 1;
}

#imagenes_inicio img {
    width: 150px;
    height: 150px;
    border: 3px solid #bababa;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#imagenes_inicio h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

#slime {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#slime > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#slime img {
    padding-top: 15px;
    max-width: 100px;
    margin-right: 20px;
}

#slime h3 {
    margin: 15px 0;
    font-size: 1.5em;
    padding-left: 40px;
    padding-right: 50px;
}

#slime p {
    /* margin: 15px 0;
    max-width: 600px;
    text-align: center; */
    text-align: center;
}
.glide-container {
    width: 18cm;
}


@media screen and (max-width: 768px) {
    .glide-container {
        width: 10cm;
    }

    #seleccion {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 80px;
    }
    main{
        margin-bottom: 350px;
    }
    header{
        margin-top: auto;
        height: 150px;
        size-adjust: auto;
    }
}

footer {
    background: #001f3f;
    padding: 20px;
    text-align: center;
    transition: background-color 0.5s ease;
    margin-top: 200px;
}

footer .botones2 {
    display: flex;
    justify-content: center;
}

footer button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px;
}

div.botones2>a{
    padding-top: 10px;
    padding-right: 19px;
    text-decoration: none;
    color: white;
}

@keyframes slideDown {
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

img,h1,p,h2,h3,.fila{
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}