body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header {
    background: #39a97e url('imgns/hero-scene-layer-1.png') center/cover fixed;
    color: rgb(255, 255, 255);
    padding: 230px; /* Ajusta el valor de padding según sea necesario */
    position: relative;
    top: -50px;
    z-index: 1;
    opacity: 0;
    animation: slideDown 1s ease-out forwards;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2d8287 url('imgns/hero-scene-layer-1.png') center/cover fixed;
    z-index: -1; /* Ajustado a -1 para que esté detrás del contenido del main */
}

main {
    background-image: url('imgns/fondosegundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: -590px;
    padding-top: 300px;
    height: 1710px;
    z-index: 2; /* Ajustado a 2 para que esté sobre el header y su fondo */
}
/* div.opciones{
    padding-top: -500px;
} */
/* label {
    margin-bottom: 5px;
} */

/* Añade estas reglas al archivo paginaseg.css o en la etiqueta <style> dentro del head */
#opciones {
    display: flex;
    padding-top: 250px;
    margin-left: 10px; 
}

#seleccion {
    border: none;
    background-color: #3e446c;
    color: rgb(243, 243, 243);
    padding: 15px;
    padding-left: 7px;
    border-radius: 15px;
    text-align: center;
    width: 150px; /* Ajusta el ancho según sea necesario */
    margin-right: 10px; 
}

#seleccion option {
    padding: 10px;
}

#seleccion option[value="slime"] { background-color: #f499e2; }
#seleccion option[value="recursos"] { background-color: #adf4c6; }
#seleccion option[value="npc"] { background-color: #d8f080; }

#imagenes_inicio {
    margin-top: -200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
}

#imagenes_inicio div {
    text-align: center;
    margin: 10px;
    flex: 1; /* Hace que cada div ocupe el mismo espacio en la fila */
}

#imagenes_inicio img {
    width: 150px;
    height: 150px;
    border: 3px solid #bababa;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#imagenes_inicio h3 {
    margin-top: 10px;
    font-size: 1.5em;
}

#slime {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 240px; /* Alinea los elementos al centro */
}

#slime > div {
    display: flex;
    flex-direction: column; /* Cambiado a columna para alinear verticalmente */
    align-items: center; /* Alinea los elementos al centro */
    margin-bottom: 20px;
}

#slime img {
    padding-top: 15px;
    max-width: 100px;
    margin-right: 20px;
}

#slime h3 {
    margin: 15px 0;
    font-size: 1.5em; /* Tamaño mediano */
    padding-left: 40px;
    padding-right: 50px;
}

#slime p {
    margin: 15px 0;
    max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
    text-align: center; /* Centra el texto */
}
.glide-container {
    width: 18cm;
}

/* Cambia el tamaño de .glide-container a 10cm cuando la pantalla es angosta */
@media screen and (max-width: 768px) {
    .glide-container {
        width: 10cm;
    }

    #seleccion {
        width: 100%; /* Hace que el combobox ocupe el ancho completo */
        margin-right: 0; /* Elimina el espacio a la derecha */
        margin-left: 0; /* Elimina el margen izquierdo */
        margin-top: 80px; /* Agrega espacio en la parte superior */
    }
    main{
        margin-bottom: 350px;
    }
}

footer {
    background: #001f3f;
    padding: 20px;
    text-align: center;
    transition: background-color 0.5s ease;
    margin-top: 500px;
}

footer .botones2 {
    display: flex;
    justify-content: center;
}

footer button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px;
}

div.botones2>a{
    padding-top: 10px;
    padding-right: 19px;
    text-decoration: none;
    color: white;
}

@keyframes slideDown {
    to {
        top: 0; /* Mueve el header a su posición final */
        opacity: 1; /* Hace que el header sea completamente visible */
    }
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

img,h1,p,h2,h3,.fila{
    view-timeline-name: --image;
    view-timeline-axis: block ;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}